<p id="notice"><%= notice %></p>

<p>
  <strong>Registration:</strong>
  <%= @vehicle.registration %>
</p>

<p>
  <strong>Annual mileage:</strong>
  <%= @vehicle.annual_mileage %>
</p>

<p>
  <strong>Value:</strong>
  <%= @vehicle.value %>
</p>

<p>
  <strong>Parking location:</strong>
  <%= @vehicle.parking_location %>
</p>

<p>
  <strong>Policy start date:</strong>
  <%= @vehicle.policy_start_date %>
</p>

<p>
  <strong>Person pk:</strong>
  <%= @vehicle.person_pk %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle, page: @current_page) %> |
<%= link_to 'Back', vehicles_path(page: @current_page) %>
